[Desktop Entry]
Type=Application
Version=1.0
Name=SSH Stop
Comment=Script for stop SSH
Icon=terminal
Exec=/bin/systemctl stop sshd
Terminal=false
Categories=Network
X-Purism-FormFactor=Workstation;Mobile;
